/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bounce-custom{
  animation: bounce-custom 0.5s ;
}
@keyframes bounce-custom{
  from,
  to{
    transform : scale(1,1)
  }
  25% {
    transform : scale(0.9,1.1)
  }
  50% {
    transform : scale(1.1 , 0.9)
  }
  75% {
    transform : scale(0.95,1.05)
  }
  
}

.animate-scale{
  transform-origin: 0%  0%;
  animation: scale 0.2s;
}
.animate-scale-reverse{
  transform-origin: 0%  0%;
  animation: scale 0.2s reverse forwards;
}
@keyframes scale {
  0%{
    transform: scaleY(0)
  }
  100%{
    transform: scaleY(1) 
  }
}


.custom-scroll-bar::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
  height: 7px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #a1a1a1;        /* color of the tracking area */
}
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(211, 14, 14);    /* color of the scroll thumb */
}


@tailwind base;
@tailwind components;
@tailwind utilities;